#edit-form{
    border: 1px solid #EEE;
    background-color: white;
    padding: 2em;
}

input[type="checkbox"] {
	display:none;
}

.hashtag {
    border: 1px solid #EEE;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}

.not-checked{
    background-color: #D8D8D8!important;
}

#dropzone {
	background-color: #cfc;
	border: solid 3px #9c9;
	color: #9c9;
	min-height: 50px;
	padding: 20px;
	text-shadow: 1px 1px 0 #fff;
}

.input-file-btn {
  position: relative;
}

.input-file {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
