body{
	background-color: #F7FBFC;
}

/*
* 点検実施
*/

.msg-title{
	border-bottom: 1px solid gray;
	padding: 1em;
}

.btn-area{
	margin-bottom: 2em;
}

.en-title{
	font-size: 3em;
}

.ja-title{
	font-size: 1.5em;
}

/*
	ボタン制御
*/
.btn{
	box-shadow:rgba(122, 122, 122, 0.1588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.1588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.1588235) 0px 0px 6px 3px;
}

.btn1{
	color:red;
	border: 1px solid red;
}

.btn1:hover{
	color:white;
	background-color: pink;
	border: 1px solid red;
}

.btn2{
	color:blue;
	border: 1px solid blue;
}

.btn2:hover{
	color:white;
	background-color: #5882FA;
	border: 1px solid red;
}

.btn3{
	color:green;
	border: 1px solid green;
}

.btn3:hover{
	color:white;
	background-color: #01DF01;
	border: 1px solid red;
}

#controll-panel{

}
