body{
	background-color: gray;
}

/*
* PDF書き込み用にベースCSS修正
*/
.container{
    padding: 0em;
    margin: 0em;
    width: 100%;
}

.navbar-static-top{
    padding-left: 1em;
    padding-right: 1em;
}

/*
* コンテンツCSS
*/
#canvas-container{
    height: 100vh;
    margin:0em;
    padding: 0em;
}

#canvas-pdf{
	background-color: white;
}

#controller{
    position: fixed;
}

/*
* ステータス
*/
#mode-display{
	position: fixed;
	top: 5em;
	right: 3em;
	background-color: rgba(255,140,0,0.8);
	border-radius: 1em;        /* CSS3草案 */
	-webkit-border-radius: 1em;    /* Safari,Google Chrome用 */
	-moz-border-radius: 1em;   /* Firefox用 */
	cursor: pointer;
	display: none;
}

#mode-status{
	color: white;
	padding: 2em;
	font-size: 1.3em;
}

/*
PDF左右切り替え
*/
#left-move{
    left: 0em;
    top: 10em;
    position: fixed;
    background-color: rgba(34,139,34,0.5);
    color: white;
    padding: 0.5em;
}

#right-move{
    right: 0em;
    top: 10em;
    position: fixed;
    background-color: rgba(34,139,34,0.5);
    color: white;
    padding: 0.5em;
}

/*
オーバーレイ
*/
.overlay{
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
}

.display{
	display: inline!important;
}

/*
下メニュー
*/

#controll-panel{
    position: fixed;
    bottom: 0em;
    background-color: rgba(0,0,0,0.5);
    color: white;
	z-index: 9999!important;
}

.edit-act{
	display: none;
}

.right{
    margin-right: 1em;
    float: right;
}

.left{
	margin-left: 1em;
	float: left;
}

/*
* 印刷時設定
*/
@media print{
	#mode-display,
	#controll-panel,
	#left-move,
	#right-move {
		display:none;
	}
}
