/*
* common
*/
.navbar-static-top{
    margin: 0em;
}

.pankz-list{
    padding: 1em;
    background-color: #EEE;
}

/*
* contents
*/
#edit-form{
    padding: 1em;
}

#edit-list{
    background-color: white;
    padding: 1em;
}

#tbl-area{
    margin-top:1em;
}

input[type="checkbox"] {
	display:none;
}

.hashtag {
    border: 1px solid #EEE;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}

.attribute-tag{
    border: 1px solid #EEE;
    padding: 0.3em;
    color: white;
    border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}

.not-checked{
    background-color: #D8D8D8!important;
}

/*
* 検索詳細アイコン
*/
#search-plus{
    padding-top: 0.1em;
}

.fa-skyblue {
    color: skyblue;
}

.fa-red{
    color: #FA5858;
}


.datepicker{
    border: 2px solid #ccc;
    font-size: 20px;
}
